<div class="container" id="main">
  <h1 class="">Welcome to Ember C3</h1>

  <a href="https://github.com/Glavin001/ember-c3" target="_blank">Source</a>
  <a href="https://github.com/Glavin001/ember-c3/issues" target="_blank">Issues/Suggestions</a>
  <br/>

  <h2>Charts</h2>
  {{#link-to "index"}}Combination{{/link-to}}
  {{#link-to "gauge"}}Gauge{{/link-to}}
  {{#link-to "timeseries"}}Timeseries{{/link-to}}
  {{#link-to "pie"}}Pie{{/link-to}}
  {{#link-to "donut"}}Donut{{/link-to}}

  <br/>

  {{outlet}}
</div>