<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <LinkTo @route="index" class="navbar-brand">
    <img src="images/ember-logo.png" alt="" role="presentation">
    <span>C3</span>
  </LinkTo>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <LinkTo @route="index" class="nav-link">
          Combination
        </LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="gauge" class="nav-link">
          Gauge
        </LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="timeseries" class="nav-link">
          Timeseries
        </LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="pie" class="nav-link">
          Pie
        </LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="donut" class="nav-link">
          Donut
        </LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="chart-events" class="nav-link">
          Chart Events
        </LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="events" class="nav-link">
          Data Events
        </LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="chart-obj" class="nav-link">
          Chart Object
        </LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="drilldown" class="nav-link">
          Drill Down
        </LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="no-data" class="nav-link">
          No Data
        </LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="d3" class="nav-link">
          D3 Demo
        </LinkTo>
      </li>
    </ul>
    v
    {{this.appVersion}}
    <a href="https://github.com/Glavin001/ember-c3">
      <img src="images/GitHub-Mark.png" class="github" alt="" role="presentation">
    </a>
  </div>
</nav>
<main role="main">
  <div class="container">
    {{outlet}}
  </div>
</main>
