<CollapsablePanel as |panel|>
  <panel.header>
    <h3>Simple D3 demo</h3>
  </panel.header>

  <panel.content>
    <div class="row align-items-center justify-content-center">
      <h4>Today is a beautiful day!!</h4>
    </div>
    <div class="row align-items-center justify-content-center mt-3">
      <svg></svg>
    </div>
  </panel.content>
</CollapsablePanel>

<div class="container mt-2">
  <button class="btn btn-sm btn-primary" {{on "click" this.demoD3}}>
    Draw Chart
  </button>
</div>

<div class="mt-5">
  <h5>templates/d3.hbs</h5>
  <CodeSnippet @name="d3.hbs" />
</div>

<div class="mt-5">
  <h5>controllers/d3.js</h5>
  <CodeSnippet @name="d3.js" />
</div>
