<Panel as |panel|>
  <panel.header>
    <h3>Combination Chart</h3>
  </panel.header>

  <panel.content>
    <C3Chart 
      @data={{this.model}}
    />
  </panel.content>
</Panel>

<div class="mt-5">
  <h5>templates/index.hbs</h5>
  <CodeSnippet @name="index.hbs" />
</div>

