<div class="">

  <h2>Generated Chart</h2>
  <p>See the <strong>data</strong> in the JSON editor below.</p>

  {{c3-chart data=model}}

  <h3>Usage In Ember</h3>
  <p>See <a href="https://github.com/Glavin001/ember-c3/tree/master/tests/dummy/app" target="_blank">example app source code on GitHub</a>.</p>
  <div class="well">
        \{{c3-chart data=model}}
  </div>
  <p>You can edit the data for this chart in the editor below.</p>

  <hr/>

  <h2>Chart Data Editor</h2>
  <p>
    Edit the <strong>data</strong> below, powered by
    <a href="https://github.com/Glavin001/ember-jsoneditor" target="_blank">Ember JSONEditor</a>,
    to see the changes thanks to two-way data binding support.
    The <strong>data</strong> below is from the
    <a href="http://c3js.org/samples/chart_combination.html" target="_blank">Combination Chart</a>
    in the <a href="http://c3js.org/examples.html" target="_blank">C3 examples</a>.
   </p>
  {{json-editor json=model}}

</div>
