<Panel as |panel|>
  <panel.header>
    <h3>No Data</h3>
  </panel.header>

  <panel.content>
    <C3Chart 
      @data={{this.data}} 
      @title={{this.title}} 
      @padding={{this.padding}} 
    />
  </panel.content>
</Panel>

<div class="container mt-2">
  <button type="button" class="btn btn-sm btn-primary" {{on "click" (perform this.animateChart)}}>
    Add Data
  </button>
</div>

<div class="mt-5">
  <h5>templates/no-data.hbs</h5>
  <CodeSnippet @name="no-data.hbs" />
</div>

<div class="mt-5">
  <h5>controllers/no-data.js</h5>
  <CodeSnippet @name="no-data.js" />
</div>
