{{#collapsable-panel as |panel|}}
  {{#panel.header}}
    <h3>Pie Chart</h3>
  {{/panel.header}}

  {{#panel.content}}
    {{c3-chart data=data title=title padding=padding c3chart=chart}}
  {{/panel.content}}
{{/collapsable-panel}}

<div class="container mt-2">
  <button class="btn btn-sm btn-primary" onclick={{action "animate"}}>
    Animate
  </button>
</div>

<div class="mt-5">
  <h5>templates/pie.hbs</h5>
  {{code-snippet name="pie.hbs"}}
</div>

<div class="mt-5">
  <h5>controllers/pie.js</h5>
  {{code-snippet name="pie.js"}}
</div>