<div class="">
    <h1 class="">Welcome to ember-c3</h1>

    <button class="form-control" {{action "refresh"}}>Reload with random data</button>

    <h2>Donut</h2>
    {{!-- c3-donut data= --}}

    <h2>Area Spline</h2>
    {{!-- c3-area-spline data= --}}

    <h2>Timeseries</h2>
    {{!-- c3-timeseries data= --}}

    <h2>Bar Chart</h2>
    {{!-- c3-bar-chart data= --}}

    <h2>Line Chart</h2>
    {{!-- c3-line-chart data= --}}

</div>
