<div class="">
    <h1 class="">Welcome to ember-c3</h1>

    <ul class="well">
    {{#each color in model}}
      <li style="color: {{color}}">
        {{color}}
      </li>
    {{/each}}
    </ul>
</div>
